*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
  cursor: none;
}

.dashboard {
  display: grid;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 55vh 1fr 1fr 1fr;
  grid-template-areas:
    "photo    photo"
    "calendar clock"
    "calendar weather"
    "calendar mini-cal";
}

#photo-area {
  grid-area: photo;
  position: relative;
  overflow: hidden;
}

#calendar-area {
  grid-area: calendar;
}

#clock-area {
  grid-area: clock;
}

#weather-area {
  grid-area: weather;
}

#mini-cal-area {
  grid-area: mini-cal;
}

#ha-area {
  grid-area: ha;
  display: none;
}
